body {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Arial';
    background-image: linear-gradient(180deg, black, rgb(73, 0, 73));
}

h1 {
    margin: 0;
    margin-bottom: 10px;
    font-weight: 700;
    color: #ffffff;
}

h2 {
    margin: 0;
    margin-bottom: 10px;
    margin-top: 10px;
    font-size: 20px;
    color: #ffffff;    
}

p {
    margin: 0;
    text-align: center;
    font-size: 16px;
    color: #ffffff83;
}

.fonteParagrafo {
    margin: 0;
    text-align: center;
    font-size: 12px;
    color: #ffffff6b; 
    margin-top: 10px;   
}

a {
    margin: 0;
    text-align: center;
    font-size: 12px;
    color: #e58fffa1; 
    margin-top: 10px;     
}

.imagemElemento {
    margin-top: 10px;
    width: 25%;
    height: 25%;
}

.main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 900px;
}

.secaoPrincipal {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #7e008f36;
    box-shadow: 3px 3px 3px rgba(161, 0, 175, 0.37);
    border: 1px solid rgba(234, 0, 255, 0.432);
    border-radius: 10px;
    margin-bottom: 20px;
    margin-top: 50px;
}

.secaoDev {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #7e008f36;
    box-shadow: 3px 3px 3px rgba(161, 0, 175, 0.37);
    border: 1px solid rgba(234, 0, 255, 0.432);
    border-radius: 10px;
    margin-bottom: 50px;
    width: 60%;
}

.secaoTexto {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 80%;
    height: 100%; 
    margin-top: 30px;
    margin-bottom: 30px; 
}

.turma {
    font-size: 18px;
    margin-top: 10px;
    color: rgb(176, 93, 255);
    margin-bottom: 12px;
}

.dev {
    font-size: 20px;
    margin-top: 25px;
    color: rgb(227, 117, 255);
    font-weight: bold;
}

.imagemLuiz {
    margin-top: 10px;
    width: 25%;
    height: 110px;
    border-radius: 50%;
    box-shadow: 3px 3px 5px rgb(234, 0, 255)
}

.professores {
    display: flex;
    justify-content: space-between;
    width: 70%;
}

.professor {
    width: 40%;
}

.professor img {
    margin-top: 10px;
    width: 100%;
    height: 125px;
    border-radius: 50%;
    box-shadow: 3px 3px 5px rgb(202, 3, 252);
}

.nomeProfessor {
    font-size: 20px;
    margin-top: 10px;
    color: rgb(227, 117, 255);
    font-weight: bold;
}

.componente {
    font-size: 15px;
    margin-top: 5px;
    color: rgb(176, 93, 255);
    margin-bottom: 15px;
}

@media (max-width: 1200px) {
    h1 {
        margin: 0;
        margin-bottom: 20px;
        font-weight: 700;
        font-size: 50px;
        color: #ffffff;
    }

    h2 {
        margin: 0;
        margin-bottom: 20px;
        margin-top: 20px;
        font-size: 35px;
        color: #ffffff;    
    }

    p {
        margin: 0;
        text-align: center;
        font-size: 22px;
        color: #ffffff83;
    }

    .fonteParagrafo {
        margin: 0;
        text-align: center;
        font-size: 25px;
        color: #ffffff6b; 
        margin-top: 10px;   
    }

    a {
        margin: 0;
        text-align: center;
        font-size: 25px;
        color: #e58fffa1; 
        margin-top: 10px;     
    }

    .imagemElemento {
        margin-top: 30px;
        width: 50%;
        height: 25%;    
    }

    .imagemLuiz {
        margin-top: 10px;
        width: 45%;
        height: 300px;
        border-radius: 50%;
        box-shadow: 3px 3px 5px rgb(234, 0, 255);
    }

    .secaoPrincipal {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        text-align: center;
        margin-top: 50px;
        width: 90%;
        max-width: 900px;
        height: 100%;
        background-color: #7e008f36;
        box-shadow: 3px 3px 3px rgba(161, 0, 175, 0.37);
        border: 1px solid rgba(234, 0, 255, 0.432);
        border-radius: 10px;
    }

    .turma {
        font-size: 30px;
        margin-top: 20px;
        color: rgb(176, 93, 255);
        margin-bottom: 15px;
    }

    .secaoDev {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        text-align: center;
        margin-top: 30px;
        width: 90%;
        max-width: 900px;
        height: 100%;
        background-color: #7e008f36;
        box-shadow: 3px 3px 3px rgba(161, 0, 175, 0.37);
        border: 1px solid rgba(234, 0, 255, 0.432);
        border-radius: 10px;
        margin-bottom: 50px;
    }

    .secaoTexto {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        width: 80%;
        height: 100%; 
        margin-top: 50px;
        margin-bottom: 50px; 
    }

    .dev {
        font-size: 40px;
        margin-top: 25px;
        color: rgb(227, 117, 255);
        font-weight: bold;
    }

    .professores {
        margin-top: 20px;
        display: flex;
        justify-content: space-between;
        width: 85%;
    }

    .professor {
        width: 40%;
    }

    .professor img {
        margin-top: 10px;
        width: 100%;
        height: 240px;
        border-radius: 50%;
        box-shadow: 5px 5px 5px rgb(202, 3, 252);
    }

    .nomeProfessor {
        font-size: 30px;
        margin-top: 25px;
        color: rgb(227, 117, 255);
        font-weight: bold;
    }

    .componente {
        font-size: 30px;
        margin-top: 10px;
        color: rgb(176, 93, 255);
        margin-bottom: 15px;
    }
}
